.modal {
  display: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 2rem;
  width: 80%;
  height: 400px;
  max-width: 40rem;
  animation: fade-slide-up 0.3s ease-out forwards;
  &__button {
    text-align: end;
    & button {
      font-size: 2.5rem;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
  &__title {
    margin: 4rem;
    text-align: center;
    font-size: 2rem;
  }
  &__message {
    text-align: center;
    font-size: 1.6rem;
  }
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}
