.btn {
  white-space: nowrap;
  padding: 1rem 5rem;
  border-radius: 5px;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  background-color: var(--color-primary-800);
  color: black;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: var(--color-primary-900);
  }
  &:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
}

.btn-text {
  white-space: nowrap;
  padding: 1rem 5rem;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:disabled {
    color: #999;
    cursor: not-allowed;
  }
}
