.root {
  &__wrapper {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      gap: 4rem;
    }
  }
  &__blog {
    @media (min-width: 768px) {
      width: 70%;
    }
  }
}
