.header {
  position: fixed;
  padding: 0 2rem;
  width: 100%;
  max-width: 1280px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9;
  background-color: rgba(250, 250, 250, 0.9);
}

.menuToggle {
  background: none;
  border: none;
  font-size: 3rem;
  padding: 1.7rem 0;
  color: black;
  cursor: pointer;
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.mainNav {
  gap: 3rem;
  position: fixed;
  top: 8rem;
  left: 0;
  width: 30rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(250, 250, 250, 0.9);
  border: 1px rgba(240, 240, 240, 1) solid;
  padding: 5rem 3rem;
  transform: translateX(-200%);
  transition: transform 0.3s ease-out;
  z-index: 10;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  &.open {
    transform: translateX(0);
  }
  @media (min-width: 768px) {
    width: 100%;
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
    transform: translateY(0);
    border: none;
    padding: 2rem 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
  }
  a:hover,
  a.active {
    color: black;
    background-color: var(--color-primary-800);
    border-radius: 10px;
  }

  .user {
    margin-top: 3rem;
    @media (min-width: 768px) {
      margin-top: 0;
    }
    &__logo {
      width: 40px;
      height: 40px;
    }
    &__name {
      font-size: 1.6rem;
      font-weight: bold;
    }
    &__logout {
      font-size: 1.6rem;
      cursor: pointer;
      border-bottom: 1px transparent solid;
      transition: transform 0.3s ease-out;
      @media (min-width: 768px) {
        font-size: 1.8rem;
      }
      &:hover {
        border-bottom: 1px black solid;
      }
    }
  }
  .user-list {
    gap: 1rem;
    align-items: center;
    @media (min-width: 768px) {
      gap: 3rem;
    }
  }
}
