.category-blogs {
  &__blog {
    @media (min-width: 768px) {
      width: 70%;
    }
  }
  &__wrapper {
    margin: 2rem 0;
  }
  &__button {
    padding: 2rem 0 0 0;
    color: var(--blue-200);
  }
}
