.btn-sign-in {
  margin-top: 3rem;
}

.btn-sign-up {
  margin-top: 3rem;
  background: var(--blue-100);
  color: #fff;
  transition: color 0.2s ease-in-out;
  &:hover {
    background: var(--blue-200);
  }
}
