.hide {
  display: none;
}

.cookie-box {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  padding: 2rem;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  background-color: #383838;
  color: white;
  opacity: 0;

  animation: show-cookies 1s 1s forwards;
  z-index: 5;
  @media (min-width: 768px) {
    font-size: 1.6rem;
  }

  &__btn {
    margin-top: 1em;
    padding: 0.5em 1em;
    font-size: 1.4rem;
    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }
}

.cookie-btn:hover {
  background-color: rgb(0, 0, 146);
}

@keyframes show-cookies {
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
